*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    margin: 5px;
    border: 2px solid black;
    display: flex;
    height: 250px;
    flex-wrap: wrap;
    padding: 10px 10px;
    gap: 5px;
    justify-content: center;
    align-content: center;
    width: 1040px;
}
div{
    background-color: #3498db;
    color: white;
    width: 250px;
    border-radius: 10px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.box5{
    flex-grow: 1;
}