*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    background-color: #333333;  
    align-items: center;
    height: 10vh; 
    padding: 0 10px;
    color: white;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
}
ul{
    display: flex;
    list-style-type: none;
}
li{
    margin: 5px;
}
.body1{
    margin-left: 200px;
    margin-top: 10px;
    display: flex;
    width: 550px;
    background-color: #f4f4f4;
    height: 250px;
    flex-direction: column;
    line-height: 40px;
    padding: 10px;
}
.body2{
    display: flex;
    margin-left: 200px;
    width: 550px;
    flex-direction: column;
    line-height: 40px;
    padding: 10px;
    background-color: #f9f9f9;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    height: 85px;
    color: white;
}