*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    background-color: #3498db;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
}
.sidebar{
    margin: 10px;
    background-color: #2ecc71;
    width: 25%;
    height: 400px;
    color: white;
    padding: 10px;
}
.content{
    display: flex;
    flex-direction: row;
    margin: 10px;
    background-color: #e74c3c;
    width: 75%;
    color: white;
    padding: 10px;
}
section{
    gap: 5px;
    display: flex;
    align-content: center;
}
.footer{
    color: white;
    margin: 10px;
    background-color: #9b59b6;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 10px;
}
